<div class="container my-4">
    <h1 class="mb-3">Edit Product</h1>

    <div
        *ngIf="apiError && apiError !== ''"
        class="alert alert-danger">
        <div>
            {{apiError}}
        </div>
    </div>

    <form [formGroup]="productsForm" novalidate (ngSubmit)="editProduct()">
        <div class="mb-2">
            <label for="id" class="form-label">Id</label>
            <input
                type="text"
                class="form-control"
                id="id"
                readonly
                formControlName="id">
        </div>
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title">
        </div>
        <div *ngIf="productsForm.controls['title'].invalid && (productsForm.controls['title'].dirty || productsForm.controls['title'].touched)" class="alert alert-danger">
            <div *ngIf="productsForm.controls['title'].errors?.['required']">
                Title is required.
            </div>
        </div>
        <div class="mb-2">
            <label for="price" class="form-label">Price</label>
            <input
                type="text"
                class="form-control"
                id="price"
                formControlName="price">
        </div>
        <div *ngIf="productsForm.controls['price'].invalid && (productsForm.controls['price'].dirty || productsForm.controls['price'].touched)" class="alert alert-danger">
            <div *ngIf="productsForm.controls['price'].errors?.['required']">
                Price is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select
                id="category"
                class="form-select"
                formControlName="categoryId">
                <option
                    *ngFor="let category of categories"
                    [value]="category.id">
                    {{category.name}}
                </option>
            </select>
        </div>
        <div *ngIf="productsForm.controls['categoryId'].invalid && (productsForm.controls['categoryId'].dirty || productsForm.controls['categoryId'].touched)" class="alert alert-danger">
            <div *ngIf="productsForm.controls['categoryId'].errors?.['required']">
                Category is required.
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-primary me-2"
            [disabled]="productsForm.invalid"
        >Save Changes</button>
        <button
            type="button"
            class="btn btn-danger"
            (click)="deleteProduct()">
            Delete
        </button>
    </form>
</div>
